<head>
</head>
<body>
<div class="reg-w3">
<div class="w3layouts-main">
	<h2>Edit User Data </h2>
		<form id="form" action="updateUser?name={{data.name}}&mail={{data.mail}}&mobile={{data.mobile}}" method="post">
			<p class="upHead">Name : </p>
			<input type="text" class="ggg" name="name" id="name" value="{{data.name}}" >
			<p class="upHead">Mail : </p>
			<input type="text" class="ggg" name="mail" id="mail"  value="{{data.mail}}" >
			<p class="upHead">Mobile : </p>
			<input type="text" class="ggg" name="mobile" id="mobile" value="{{data.mobile}}" >
				<div class="clearfix"></div>
				<input type="submit" name="newsubmit" value="Submit">
		</form>
</div>
</div>
 <!-- footer -->
 <div class="footer">
    <div>
      <h4 class="designed">Designed by SHINU VARGHESE</h4>
    </div>
  </div>
<!-- / footer -->
